{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}
{% import "@ezdesign/parts/macros.html.twig" as macros %}

{% set content_link = macros.content_link_parameters(content) %}

{% block content %}
<article class="view-type view-type-{{ view_type }} ng-banner vl8">
    <figure class="image-hero">
        {{ content_fields.image(content, null, 'original') }}
    </figure>

    <header class="article-header">
        <div class="article-inner-content">
            <h2 class="title">
                {{ ng_render_field(content.fields.title) }}
            </h2>

            <div class="short">
                {{ ng_render_field(content.fields.short_description) }}
            </div>

            <a {{ content_link }} class="btn btn-primary">
                {% if not content.fields.url.empty %}
                    {{ content.fields.url.value.text }}
                {% else %}
                    Find out more
                {% endif %}
            </a>
        </div>
    </header>
</article>
{% endblock %}
